name: Lint

on: [push]

jobs:
  run_lint:
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install project dependencies
        run: npm install
      - name: NPM LINT
        shell: bash
        run: |
          npm run lint
